<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://114.255.143.36:9798/appCenter/download/5DC417990000000124B6360255547B39/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://114.255.143.36:9798/appCenter/setupImage/5DC417990000000124B6360255547B39/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.beecode.nectar.dgt</string><key>bundle-version</key><string>3</string><key>kind</key><string>software</string><key>title</key><string>xasy1.0.1.20170808</string></dict></dict></array></dict></plist>
