<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://101.227.250.142:1212/appCenter/download/4D324B3D000000015FEBB50E18BA9861/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://101.227.250.142:1212/appCenter/setupImage/4D324B3D000000015FEBB50E18BA9861/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.jiuqi.gmc.mfo.iphone.enterprise</string><key>bundle-version</key><string>1.3.1</string><key>kind</key><string>software</string><key>title</key><string>test111</string></dict></dict></array></dict></plist>
