<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://ssh.wfjmall.cn:9914/appCenter/download/58DE3F26600000011A960E2C0A9286AF/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://123.56.190.188:8182/api/workspace/Zhujianxing$bmsapp$bms_wfj/static/resource?type=img&file_path=/com.beecode.bms.xa/web/img/logo_180.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.nectar.default</string><key>bundle-version</key><string>3</string><key>kind</key><string>software</string><key>title</key><string>XA_IOS</string></dict></dict></array></dict></plist>
