<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://113.12.192.18:9999/appCenter/download/5D0D57F140000001A2BFBB4E9BCB26FD/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://113.12.192.18:9999/appCenter/setupImage/5D0D57F140000001A2BFBB4E9BCB26FD/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.jiuqi.gmc.mfo.iphone.enterprise</string><key>bundle-version</key><string>1.0.5</string><key>kind</key><string>software</string><key>title</key><string>久其费控系统移动端(ios)</string></dict></dict></array></dict></plist>
