<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://ssh.wfjmall.cn:9914/appCenter/download/58DDBC72200000018D47FA697E526E41/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://ssh.wfjmall.cn:9914/dnaserver?serviceId=image&imageId=6E6B5A4CA16F6235097B862DC3708BEA</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.nectar.default</string><key>bundle-version</key><string>3</string><key>kind</key><string>software</string><key>title</key><string>XA_IOS</string></dict></dict></array></dict></plist>
