<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://10.2.27.36:9301/appCenter/download/5987AB7820000001E88C8471598F83F2/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://10.2.27.36:9301/appCenter/setupImage/5987AB7820000001E88C8471598F83F2/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.jiuqi.gmcfssc.app</string><key>bundle-version</key><string>1.0.0</string><key>kind</key><string>software</string><key>title</key><string>ios</string></dict></dict></array></dict></plist>
