<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://10.2.12.58:9909/appCenter/download/518B4100E0000001025D1BB83EDD7218/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://10.2.12.58:9909/appCenter/setupImage/518B4100E0000001025D1BB83EDD7218/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.jiuqi.jiuqitest</string><key>bundle-version</key><string>0.0.1</string><key>kind</key><string>software</string><key>title</key><string>新华</string></dict></dict></array></dict></plist>
