<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://10.2.6.45:9001/appCenter/download/609B16E460000001E5E0C35DE6D0C384/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://10.2.6.45:9001/appCenter/setupImage/609B16E460000001E5E0C35DE6D0C384/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.jiuqi.gmt.test</string><key>bundle-version</key><string>3</string><key>kind</key><string>software</string><key>title</key><string>国家粮油统计IOS版</string></dict></dict></array></dict></plist>
