<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://120.92.73.93:9701/appCenter/download/6265D2DF800000013CE01E5F7F19DABA/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://120.92.73.93:9701/appCenter/setupImage/6265D2DF800000013CE01E5F7F19DABA/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.beecode.bms.capitalgrand</string><key>bundle-version</key><string>3</string><key>kind</key><string>software</string><key>title</key><string>wfj_test</string></dict></dict></array></dict></plist>
