<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://slb.beecode.cn:9966/appCenter/download/58CED1E3A00000010EA5D8EF1EDF28A5/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://slb.beecode.cn:9966/appCenter/setupImage/58CED1E3A00000010EA5D8EF1EDF28A5/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.nectar.default</string><key>bundle-version</key><string>3</string><key>kind</key><string>software</string><key>title</key><string>xa</string></dict></dict></array></dict></plist>
