<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://dgtmng.91biz.com.cn:9771/appCenter/download/5BF6CA87E0000001605BE1B0D09C68A6/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://dgtmng.91biz.com.cn:9771/appCenter/setupImage/5BF6CA87E0000001605BE1B0D09C68A6/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.beecode.nectar.dgt</string><key>bundle-version</key><string>3</string><key>kind</key><string>software</string><key>title</key><string>dgt</string></dict></dict></array></dict></plist>
