<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://fk1.cscec.com:9797/appCenter/download/59BA8404400000013F74BE8241DFC799/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://fk1.cscec.com:9797/appCenter/setupImage/59BA8404400000013F74BE8241DFC799/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.jiuqi.gmcfssc.app</string><key>bundle-version</key><string>1.0.0</string><key>kind</key><string>software</string><key>title</key><string>中国建筑费用报销系统</string></dict></dict></array></dict></plist>
