<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://fsmng.91biz.com.cn:9610/appCenter/download/60DB741700000001B418B16EFB8BE417/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://fsmng.91biz.com.cn:9610/appCenter/setupImage/60DB741700000001B418B16EFB8BE417/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.beecode.bms.fswfj</string><key>bundle-version</key><string>3</string><key>kind</key><string>software</string><key>title</key><string>佛山王府井</string></dict></dict></array></dict></plist>
