<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://10.2.12.59:9300/appCenter/download/5CAA98E600000001F05524DBB08D4E26/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://10.2.12.59:9300/appCenter/setupImage/5CAA98E600000001F05524DBB08D4E26/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.jiuqi.gmc.mfo.iphone.enterprise</string><key>bundle-version</key><string>1.0</string><key>kind</key><string>software</string><key>title</key><string>1</string></dict></dict></array></dict></plist>
