<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://218.205.209.151:9797/appCenter/download/6122DFFB20000001726DD0D69AB4E97E/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://218.205.209.151:9797/appCenter/setupImage/6122DFFB20000001726DD0D69AB4E97E/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.beecode.bms.capitalgrand</string><key>bundle-version</key><string>3</string><key>kind</key><string>software</string><key>title</key><string>1.0.2</string></dict></dict></array></dict></plist>
