<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://10.2.21.3:9797/appCenter/download/5FBD50C220000001B735462C3819C537/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://10.2.21.3:9797/appCenter/setupImage/5FBD50C220000001B735462C3819C537/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.jiuqi.gms.court</string><key>bundle-version</key><string>3</string><key>kind</key><string>software</string><key>title</key><string>快易行装</string></dict></dict></array></dict></plist>
