<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://10.2.26.15:9721/appCenter/download/432DAD9C6000008192A816E5C6C852D9/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://10.2.26.15:9721/appCenter/setupImage/432DAD9C6000008192A816E5C6C852D9/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>jiuqi.com.cn.gmc.iPhone.enterprise</string><key>bundle-version</key><string>1.0.4</string><key>kind</key><string>software</string><key>title</key><string>苹果</string></dict></dict></array></dict></plist>
