<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://10.2.7.42:9787/appCenter/download/60C41EE1C0000001F12137E630697671/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://10.2.7.42:9787/appCenter/setupImage/60C41EE1C0000001F12137E630697671/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>jp.questbeat.QBImagePicker</string><key>bundle-version</key><string>1</string><key>kind</key><string>software</string><key>title</key><string>村居财务</string></dict></dict></array></dict></plist>
