<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://beecodestore.bj.bcebos.com/MDP.ipa?authorization=bce-auth-v1%2F4b59c0acacc64ffb8a209a3643617d50%2F2016-04-19T01%3A36%3A51Z%2F240000%2Fhost%2F7804d115563e830da60605525c8489751cd4658161cead176ee491cf4f297bd1</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://10.2.26.15:9721/appCenter/setupImage/432DAD9C6000008192A816E5C6C852D9/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.nectar.default</string><key>bundle-version</key><string>1.0.0</string><key>kind</key><string>software</string><key>title</key><string>MDP</string></dict></dict></array></dict></plist>
