<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://127.0.0.1:9898/appCenter/download/5D34855AA00000011B3DFE274D6EF4CD/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://127.0.0.1:9898/appCenter/setupImage/5D34855AA00000011B3DFE274D6EF4CD/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string /><key>bundle-version</key><string /><key>kind</key><string>software</string><key>title</key><string>国投费控演示</string></dict></dict></array></dict></plist>
