<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://sc.91biz.com.cn:9797/appCenter/download/60BAC19BA0000001133720B2A703326E/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://sc.91biz.com.cn:9797/appCenter/setupImage/60BAC19BA0000001133720B2A703326E/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string /><key>bundle-version</key><string /><key>kind</key><string>software</string><key>title</key><string>首创钜大1.0.0</string></dict></dict></array></dict></plist>
