<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://124.205.137.86:9005/appCenter/download/4AB4A0D9C0000003D53A0FE95E4FE2DF/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://124.205.137.86:9005/appCenter/setupImage/4AB4A0D9C0000003D53A0FE95E4FE2DF/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string /><key>bundle-version</key><string /><key>kind</key><string>software</string><key>title</key><string>首汽租赁费控</string></dict></dict></array></dict></plist>
