<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://10.0.15.7:9800/appCenter/download/5FE16217C000000133FBEAD775417130/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://10.0.15.7:9800/appCenter/setupImage/5FE16217C000000133FBEAD775417130/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string /><key>bundle-version</key><string /><key>kind</key><string>software</string><key>title</key><string>中国能建费控系统</string></dict></dict></array></dict></plist>
