<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://192.168.100.249:9797/appCenter/download/557DDF4480000001D8E6D39E47FD442C/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://192.168.100.249:9797/appCenter/setupImage/557DDF4480000001D8E6D39E47FD442C/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string /><key>bundle-version</key><string /><key>kind</key><string>software</string><key>title</key><string>财务共享移动审批</string></dict></dict></array></dict></plist>
