<?xml version="1.0" encoding="gbk"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://10.2.35.54:9807/appCenter/download/5DA6BDD5A000000156DC0C0BD8F08EE4/mt.ipa</string></dict><dict><key>kind</key><string>display-image</string><key>needs-shine</key><true /><key>url</key><string>http://10.2.35.54:9807/appCenter/setupImage/5DA6BDD5A000000156DC0C0BD8F08EE4/icon.png</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>org.reactjs.native.example.GmcfsscTrainingDemo</string><key>bundle-version</key><string>1</string><key>kind</key><string>software</string><key>title</key><string>111</string></dict></dict></array></dict></plist>
